html,
body {
    height: 100vh;
    margin: 0;
}

.game-board {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    grid-template-areas:
        "head head"
        "main aside"
        "footer footer";
}

.header {
    grid-area: head;
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-family: 'Russo One', sans-serif;
    margin-bottom: 0;
    font-size: 2.75em;
}

#rotate {
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 1.3em;
    transform: rotate(-10deg);
    margin-top: -35px;
    padding-left: 90px;
    animation-name: pulse;
}

table {
    grid-area: main;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse: collapse;
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEVysPjzZt3aHenUEZ63oaX86C2bpXcxgd_xCOwd9QjMeahy7R5KkDTEXb8oehEVOc7kUVLiRtYlyJBCfvgPg608qu6vuMq1A0mh4HpehQGSbYcqBRRlHuj_br7hiNrJOqs2odT-WX8KQx0_K_ShIUyJZI3izKnhBvlfl-2I28avnGYhzf_NJcwsupr7DslOzR8-dh80B82j9D6TBz77I-PBl6_aFl4lozJT9TlnIu64dj_LhW10E-NHTn0Cib_becDpOEf4izmwf5U44JxyCOKHmxeFRWXMDBa12A8_WIuYm0CayDFaYAXwVXnFZOu4PA6SEgVRBqVypagttFl-xfAlpqtPUFNGdTopXHojVAxBT6hajebduuqlNFjulYRrdiYFpBRWt2DFu_qG86qa8GALa57iDs2zrDAEsR4mXkYwkOIzDgujUed4ANo6_OqGAsKhVEP-iFVgtOiAcNktPqdCvD9rBnlx1P21kghPtAcKAjSI5RXNXOfCd0mwvBk78ozH8A4_DitLsvcdVig93vBsoA0El2SboqKsG5rXJSsUXE6bDS8uCSElG0lSysrovMrkI2SjqO65I_j6kzweDqCB-dBGDq0MIBV_6wmFNI5LF-Fk1-YUqDYBeOwiUgTS5NIq4SbharySsgxeYtweO70c3aqoF9FPDKETPRMSrrTvLaDQZ0s8MdTeGGMihc6haPzWtmY5UIOuNXQOarsUsAR3pFnvjz_KrhGWpcRb7MU1rGHDr6s-R442Ond24-xPbeiDYRZL7BILI2hudhPHrETJ_sDBsZkgIrSwK80OaFWcD5erGGC1X0MMfFs72LG7hvr2_CYHo-Cp3HH_aV7wjz4Jo8kF_ZRtGQ4_c5SCDmtcQXUa0Hb5Kzga1xR3-Et_BWS6PjF3D3791X5qKqPK4A=w359-h294-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
}

tr td {
    border: 1px solid black;
}

aside {
    grid-area: aside;
    margin-left: 0;
    margin-top: 60px;
}

#grinch1,
#grinch2,
#grinch3,
#grinch4,
#grinch5 {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
}

h4 {
    font-family: 'Russo One', sans-serif;
    margin-left: 16.5px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

button { 
    font-family: 'Russo One', sans-serif;
    color: white;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30%;
    padding: 10px;
}

td div {
    width: 10px;
    height: 10px;
    margin: 0 auto;
}